{% extends "voxFrontBundle::main.html.twig" %}

{% block title %}Home{% endblock %}


{% block content %}

    {% for news in listNews %}
        {% if news.enable %}
            <div class="front-block">


                <div class="row">
                    <div class="col-md-12">
                        <h2>{{ news.title }}</h2>

                        <p>{{ news.content | raw}}</p>
                    </div>
                    <span style="float:right; font-style: italic; color: #999;">
                        {{ news.dateAdded | date('D, jS M Y') }}
                    </span>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}