{% extends "voxAdminBundle::main.html.twig" %}

{% block title %}Analytics{% endblock %}
 {% block breadcrumb %}
     <li class="active">Home</li>
 {% endblock %}

 {% block top_menu_buttons %}
 {% endblock %}



{% block content %}


    {#{{ dump(users['totalsForAllResults']['ga:users']) }}#}
    {#{{ dump(users['rows'][0]) }}#}


    {#<div class="panel panel-default">
        <div class="panel-heading">Users</div>
        <div class="panel-body">

            <table class="table">
                <thead>
                <th>Date</th>
                <th>Users</th>
                <th>Sessions</th>
                <th>Avg. Session duration</th>
                <th>Page views</th>
                <th>Page views per session</th>
                </thead>
                <tbody>

                    <tr>
                        <td>{{ users['rows'][0][0] }}</td>
                        <td>{{ users['rows'][0][1] }}</td>
                        <td>{{ users['rows'][0][2] }}</td>
                        <td>{{ users['rows'][0][3] }}</td>
                        <td>{{ users['rows'][0][4] }}</td>
                        <td>{{ users['rows'][0][5] }}</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>#}

    {#{{ dump(users) }}#}


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Audience overview</div>
                <div class="panel-body">

                    {#<div id="filter-bar">
                    </div>


                    <table id="overview_table"
                           data-toggle="table"
                           data-url="{{ path('analytics_update_overview') }}"
                           data-pagination="true"
                           data-page-size="10"
                           data-toolbar="#filter-bar"
                           data-show-filter="true"
                           &#123;&#35;data-query-params="queryParams"&#35;&#125;
                           data-show-columns="true">

                        <thead>
                        <tr>
                            <th data-field="day" data-sortable="true">Day</th>
                            <th data-field="users" data-sortable="true">Users</th>
                            <th data-field="sessions" data-sortable="true">Sessions</th>
                            <th data-field="avgSessionDuration" data-sortable="true">Avg. Session duration</th>
                            <th data-field="pageviews" data-sortable="true">Page views</th>
                            <th data-field="pageviewsPerSession" data-sortable="true">Page views per session</th>
                        </tr>
                        </thead>
                    </table>#}




                    <div id="toolbar">
                        <div class="form-inline" role="form">
                            <div class="form-group">
                                <div id="filter-bar"></div>
                            </div>
                            <div class="form-group">
                                <input id="date_from" class="form-control" type="text" placeholder="From">
                            </div>
                            <div class="form-group">
                                <input id="date_to" class="form-control" type="text" placeholder="To">
                            </div>
                            <button id="ok" type="submit" class="btn btn-default">OK</button>
                        </div>
                    </div>

                    <table id="overview"></table>

                </div>
            </div>
        </div>
    </div>



{% endblock %}







{% block javascript %}
    {{ parent() }}

    <script type="text/javascript">


        $(document).ready(function(){

            date_from = $('#date_from').datepicker({
                dateFormat: 'yy-mm-dd',
                maxDate: '0',
                onClose: function( selectedDate ) {
                    $( "#date_to" ).datepicker( "option", "minDate", selectedDate );
                    $(this).parent().removeClass('has-error');
                }
            }).val();

            date_to = $('#date_to').datepicker({
                dateFormat: 'yy-mm-dd',
                maxDate: '0',
                onClose: function( selectedDate ) {
                    $( "#date_from" ).datepicker( "option", "maxDate", selectedDate );
                    $(this).parent().removeClass('has-error');
                }
            }).val();


            $('#overview').bootstrapTable({
                url: '{{ path('analytics_update_overview') }}',
                dataType: 'json',
                method: 'post',
                columns: [
                    {
                        field: 'date',
                        title: 'Date'
                    },
                    {
                        field: 'users',
                        title: 'Users'
                    },
                    {
                        field: 'sessions',
                        title: 'Sessions'
                    },
                    {
                        field: 'avgSessionDuration',
                        title: 'Avg. Session duration'
                    },
                    {
                        field: 'pageviews',
                        title: 'Page views'
                    },
                    {
                        field: 'pageviewsPerSession',
                        title: 'Page views per session'
                    }

                ],
                pagination: true,
                showColumns: true,
                toolbar: '#toolbar',
                onLoadSuccess: function (data) {
                    //console.log(data);
                },
                queryParams: function (p) {
                    return {
                        from: date_from,
                        to: date_to
                    };
                }

            });

            $('#filter-bar').bootstrapTableFilter({
                connectTo: '#overview'
            });

            $('#ok').click(function () {
                date_from = $('#date_from').val();
                date_to = $('#date_to').val();
                var valid = true;
                $('#date_from, #date_to').each(function() {
                    if($(this).val() == '') {
                        $(this).parent().addClass('has-error');
                        valid = false;
                    }
                });
                if(valid) $('#overview').bootstrapTable('refresh');
            });






            /*$('#filter-bar').bootstrapTableFilter({

                connectTo: '#overview_table',
                filters:[
                    {
                        field: 'pageviews',
                        label: 'Page views',
                        type: 'range'
                    },
                    {
                        field: 'sessions',
                        label: 'Sessions',
                        type: 'search'
                    },
                ],
                onSubmit: function() {
                    var data = $('#filter-bar').bootstrapTableFilter('getData');
                    console.log(data);
                }
            });*/
        });
    </script>

{% endblock javascript %}