{% extends "voxAdminBundle::main.html.twig" %}

{% block title %}News{% endblock %}
 {% block breadcrumb %}
     <li><a href="{{ path("dashboard_index") }}">Home</a></li>
     <li class="active">News</li>
 {% endblock %}

 {% block top_menu_buttons %}
     <a class="btn btn-default" href="{{ path('news_add') }}"><i class="fa fa-pencil"></i> Write News</a>
 {% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-body no-padding">

            <table class="table table-striped">
                <thead>
                <th>Title</th>
                <th>Content</th>
                <th>Date Added</th>
                <th>Enabled</th>
                <th>Delete</th>
                <th>Edit</th>
                </thead>
                <tbody>

                {% for news in listNews %}
                    <tr>
                        <td>{{ news.title }}</td>
                        <td>{{ news.content | slice(0, 50) }}</td>
                        <td>{{ news.dateAdded | date('Y-m-d') }}</td>
                        <td>{{ news.enable }}</td>
                        <td><a data-toggle=confirm href="{{ path('news_delete', {'id': news.id}) }}">Delete</a></td>
                        <td><a href="{{ path('news_edit', {'id': news.id}) }}">Edit</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>

{% endblock %}


{% block javascript %}

    {{ parent() }}

    {% javascripts
    '@voxAdminBundle/Resources/public/js/jquery-confirm.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $("[data-toggle=confirm]").confirm();
    </script>

{% endblock %}