{% extends "voxAdminBundle::main.html.twig" %}

{% block title %}Add News{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path("dashboard_index") }}">Home</a></li>
    <li><a href="{{ path("news_index") }}">News</a></li>
    <li class="active">Write news</li>
{% endblock %}


{% block content %}


    <div class="panel panel-default">
        <div class="panel-body">

            {{ form_start(form) }}


            <div class="form-group">
                <label>Title: </label>
                {{ form_widget(form.title) }}
            </div>

            <div class="form-group">
                <label>Content: </label>
                {{ form_widget(form.content) }}
            </div>

            <div class="form-group">
                <label>Enable:
                    {{ form_widget(form.enable) }}
                </label>
            </div>

            {{ form_widget(form.save) }}
            {{ form_end(form) }}
            {{ tinymce_init() }}
        </div>
    </div>


{% endblock %}

