{% extends "voxFrontBundle::main.html.twig" %}

{% block title %}Releases{% endblock %}


{% block content %}

    {% for release in listReleases %}
        {% if release.enabled %}
        <div class="front-block">


            <div class="row">
                <div class="col-md-3">
                    {% if release.image.webPath is defined %}<a href="{{ path('front_release_details', {'id': release.id}) }}"><img class="img-responsive release-img" src="{{ asset(release.image.webPath) }}" alt="{{ release.title }}"/></a>{% endif %}
                </div>
                <div class="col-md-9">
                    <h2><a href="{{ path('front_release_details', {'id': release.id}) }}">{{ release.title }}</a></h2>

                    <span>Catalogue: {{ release.catalog }}</span><br>
                    <span>Release date: {{ release.releaseDate | date('d.m.Y') }}</span>

                    {% if release.description | length > 480 %}
                        <p>{{ release.description | slice(0, 480)}}... <a href="">Read more</a></a></p>
                    {% else %}
                        <p>{{ release.description }}</p>
                    {%  endif %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

{% endblock %}