{% extends "voxFrontBundle::main.html.twig" %}

{% block title %}{{ release.title }}{% endblock %}


{% block content %}


    <div class="front-block">


        <div class="row">

            <div class="col-md-4">
                {% if release.image.webPath is defined %}
                    <a data-lightbox="cover" href="{{ asset(release.image.webPath) }}">
                        <img class="responsive" style="max-width: 300px;" src="{{ asset(release.image.webPath) }}" alt="{{ release.title }}"/>
                    </a>
                {% endif %}
            </div>

            <div class="col-md-4">
                <h2>{{ release.title }}</h2>

                <p style="font-size: 16px;">
                    Catalogue: {{ release.catalog }}<br>
                    Format: {{ release.format }}<br>
                    Release date: {{ release.releaseDate | date('d.m.Y') }}
                </p>
                {% if release.tracklist is defined %}
                    <p>
                        Tracklist: <br>
                        {{ release.tracklist | nl2br }}
                    </p>
                {%  endif %}
            </div>

            <div class="col-md-4" style="position: relative; height: 300px;">
                <div class="purchase">
                    <a target="_blank" href="{{ release.shopLink }}" style="text-decoration: none;">
                        <img class="bandcamp-img" alt="Bandcamp" class="release-img" src="{{ asset('bundles/voxfront/img/bandcamp.png') }}" alt="{{ release.title }}"/>
                        <h3 style="display: inline; padding: 5px;">| Buy now</h3>
                    </a>
                </div>
            </div>
        </div>

        <br >

        {% if release.description is defined%}
            <p>{{ release.description | nl2br }}</p>
        {%  endif %}





    </div>



{% endblock %}


