{% extends "voxAdminBundle::main.html.twig" %}

{% block title %}Subscribers{% endblock %}

 {% block breadcrumb %}
     <li><a href="{{ path("dashboard_index") }}">Home</a></li>
     <li class="active">Subscribers</li>
 {% endblock %}


 {% block top_menu_buttons %}
     <a class="btn btn-default" href="{{ path('subscriber_add') }}"><i class="fa fa-plus"></i> Add Subscriber</a>
 {% endblock %}

{% block content %}

    {#{{ dump(listReleases) }}#}

    <div class="panel panel-default">
        <div class="panel-body no-padding">


            <table class="table table-striped">
                <thead>
                <th>Email</th>
                <th>Date Added</th>
                <th>Enable</th>
                <th>Delete</th>
                <th>Edit</th>
                </thead>
                <tbody>

                {% for subscriber in listSubscribers %}
                    <tr>
                        <td>{{ subscriber.email }}</td>
                        <td>{{ subscriber.dateAdded | date('Y-m-d') }}</td>
                        <td>{{ subscriber.enable }}</td>
                        <td><a data-toggle=confirm
                               href="{{ path('subscriber_delete', {'id': subscriber.id}) }}">Delete</a></td>
                        <td><a href="{{ path('subscriber_edit', {'id': subscriber.id}) }}">Edit</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>



{% endblock %}

{% block javascript %}

    {{ parent() }}

    {% javascripts
    '@voxAdminBundle/Resources/public/js/jquery-confirm.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $("[data-toggle=confirm]").confirm();
    </script>

{% endblock %}