{% extends "voxAdminBundle::main.html.twig" %}

{% block title %}Edit Subscriber{% endblock %}
 {% block breadcrumb %}
     <li><a href="{{ path("dashboard_index") }}">Home</a></li>
     <li><a href="{{ path("subscriber_index") }}">Subscribers</a></li>
     <li class="active">Edit subscriber</li>
 {% endblock %}


{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">


            {{ form_start(form) }}


            <div class="form-group">
                <label>Email: </label>
                {{ form_widget(form.email) }}
            </div>

            <div class="form-group">
                <label>Enable:
                    {{ form_widget(form.enable) }}
                </label>
            </div>

            {{ form_widget(form.save) }}
            {{ form_end(form) }}
            {{ tinymce_init() }}


        </div>
    </div>


{% endblock %}