{% extends "voxAdminBundle::main.html.twig" %}

{% block title %}Edit Release{% endblock %}
 {% block breadcrumb %}
     <li><a href="{{ path("dashboard_index") }}">Home</a></li>
     <li><a href="{{ path("release_index") }}">Releases</a></li>
     <li class="active">Edit release</li>
 {% endblock %}


{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">


            {{ form_start(form) }}

            <div class="form-group">
                <label>Title: </label>
                {{ form_widget(form.title) }}
            </div>
            <div class="form-group">
                <label>Catalog: </label>
                {{ form_widget(form.catalog) }}
            </div>
            <div class="form-group">
                <label>Format: </label>
                {{ form_widget(form.format) }}
            </div>
            <div class="form-group">
                <label>Tracklist: </label>
                {{ form_widget(form.tracklist) }}
            </div>
            <div class="form-group">
                <label>Description: </label>
                {{ form_widget(form.description) }}
            </div>
            <div class="form-group">
                <label>Bandcamp Link: </label>
                {{ form_widget(form.shopLink) }}
            </div>

            <div class="form-group">
                <label>Release date: </label>
                {{ form_widget(form.release_date) }}
            </div>


            <div class="form-group">
                <label>Enable:
                    {{ form_widget(form.enabled) }}
                </label>
            </div>
            <img height="100" width="100" id="img" src="#" alt="" style="display: none;"/>

            {% if img.webPath is defined %}<img id="img-old" height="100" width="100" src="{{ asset(img.webPath) }}"
                                                alt=""/>{% endif %}
            <br>

            <div class="form-group">
                <label>
                    {{ form_widget(form.image) }}
                </label>
            </div>
            {{ form_widget(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}



{% block javascript %}

    {{ parent() }}

    {% javascripts
    '@voxAdminBundle/Resources/public/js/file-loader.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <script type="text/javascript">
        $(document).ready(function () {
            $("input[type='date']").datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>

{% endblock %}