{% extends "voxAdminBundle::main.html.twig" %}

{% block title %}Releases{% endblock %}

 {% block breadcrumb %}
     <li><a href="{{ path("dashboard_index") }}">Home</a></li>
     <li class="active">Releases</li>
 {% endblock %}


 {% block top_menu_buttons %}
     <a class="btn btn-default" href="{{ path('release_add') }}"><i class="fa fa-plus"></i> New Release</a>
 {% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-body no-padding">

            <table class="table table-striped">
                <thead>
                <th>Cover</th>
                <th>Title</th>
                <th>Catalog</th>
                <th>Format</th>
                <th>Description</th>
                <th>Release date</th>
                <th>Date Added</th>
                <th>Enabled</th>
                <th>Delete</th>
                <th>Edit</th>
                </thead>
                <tbody>

                {% for release in listReleases %}
                    <tr>
                        <td>
                            {% if release.image.webPath is defined %}<img height="50" width="50"
                                                                          src="{{ asset(release.image.webPath) }}"
                                                                          alt="{{ release.title }}"/>{% endif %}
                        </td>
                        <td>{{ release.title }}</td>
                        <td>{{ release.catalog }}</td>
                        <td>{{ release.format }}</td>
                        <td>{{ release.description | slice(0, 100) }}...</td>
                        <td>{{ release.releaseDate | date('Y-m-d') }}</td>
                        <td>{{ release.dateAdded | date('Y-m-d') }}</td>
                        <td>{{ release.enabled }}</td>
                        <td><a data-toggle=confirm href="{{ path('release_delete', {'id': release.id}) }}">Delete</a>
                        </td>
                        <td><a href="{{ path('release_edit', {'id': release.id}) }}">Edit</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>



{% endblock %}


{% block javascript %}

    {{ parent() }}

    {% javascripts
    '@voxAdminBundle/Resources/public/js/jquery-confirm.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $("[data-toggle=confirm]").confirm();
    </script>

{% endblock %}