{% extends "voxFrontBundle::main.html.twig" %}

{% block title %}Contact{% endblock %}


{% block content %}

    {#{{ form(form) }}#}


    <div class="front-block contact-block">
        <br>
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}

        <div class="form-group">
            <label for="form_category" class="col-sm-2 control-label">Category: </label>
            <div class="col-sm-4">{{ form_widget(form.category) }}</div>
        </div>

        <div class="form-group">
            <label for="form_email" class="col-sm-2 control-label">Your email address: </label>
            <div class="col-sm-4">{{ form_widget(form.email) }}</div>
        </div>

        <div class="form-group">
            <label for="form_subject" class="col-sm-2 control-label">Subject: </label>
                <div class="col-sm-10">{{ form_widget(form.subject) }}</div>
        </div>

        <div class="form-group">
            <label for="form_message" class="col-sm-2 control-label">Message: </label>
            <div class="col-sm-10">{{ form_widget(form.message) }}</div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">{{ form_widget(form.send) }}</div>
        </div>


        {{ form_end(form) }}

    </div>

{% endblock %}