@link-color: black;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#global {
  width: 1000px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;

  a {
    color: #999;
  }
  a:hover {
    text-decoration: none;
  }
}

#footer {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0px;
  font-size: 12px;
  color: #999;
  text-align: center;
}

#content {
  min-height: 0;
  margin-bottom: 20px;
}

#header {
  height: 180px;

  ul {
    padding: 10px;
    margin: 0;
  }

  li {
    display: inline;
    font-family: 'Exo', sans-serif;
  }

  #media-links {
    img {
      width: 30px;
      height: 30px;
      margin-left: 5px;
      opacity: 0.4;
      filter: alpha(opacity=40);
    }

    img:hover {
      opacity: 1.0;
      filter: alpha(opacity=100);
    }
  }
}

#navigation {

  margin-top: 5px;
  height: 50px;

  /*border-bottom: 1px solid #ddd;*/

  ul {
    padding: 10px;
    margin: 0;
  }

  li {
    display: inline;
    /*font-family: 'Exo', sans-serif;*/
    font-family: 'PT Sans Narrow', sans-serif;


  }

.nav-menu {


    a {
      color: @link-color;
      font-size: 24px;
      margin-right: 10px;
      text-decoration: none;
    }
    a:hover {
      /*color: #999;*/
      border-bottom: 5px solid #999;
    }
  }
  .active {
    border-bottom: 5px solid #999;
  }
}

.release {
  /*margin: 20px 0;*/
}

.release-img {
  max-width: 200px;
  max-height: 200px;
}

.front-block {
  padding: 10px;
  margin: 10px 0 10px 0;
  border-top: 1px dotted #999;

  h2 {
    padding: 10px;
    margin: 0;
    font-family: 'Oswald';
  }
  h3, h3:visited, h3:link, h3:active {
    color: black;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
  }
  p, span, label {
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
  }

  input, textarea, select, button {
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 0 !important;
    border-color: #999;
  }



  .bandcamp-img {
    width: 175px;
  }

  .purchase {
    position:absolute;
    bottom:0;
    padding: 10px;
    font-size: 25px;
    opacity: 0.6;
    filter: alpha(opacity=60);

    &:hover {
      opacity: 1.0;
      filter: alpha(opacity=100);
    }
  }
}

.contact-block {

  .form-control:focus {
    outline: none;
    box-shadow:none !important;
    border-color: black;

  }
}

.btn, .btn:active, .btn:focus {
  background-image: none;
  text-shadow: none;
  background-color: white;
  width: 200px;
}
.btn:hover {
  border-color: black;
  background-image: none;
  text-shadow: none;
  background-color: white;
  width: 200px;
}


