{% extends "voxAdminBundle::main.html.twig" %}

{% block title %}Media{% endblock %}
 {% block breadcrumb %}
     <li><a href="{{ path("dashboard_index") }}">Home</a></li>
     <li class="active">Media</li>
 {% endblock %}

{% block content %}

{#{{ dump(facebook)}}#}

    <ul class="nav nav-tabs">
        <li class="active"><a data-chart="youtube" href="#youtube-tab"><i class="fa fa-youtube-play"></i> Youtube</a></li>
        <li><a data-chart="facebook" href="#facebook-tab"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li><a data-chart="soundcloud" href="#soundcloud-tab"><i class="fa fa-soundcloud"></i> Soundcloud</a></li>
    </ul>

    <div class="panel panel-default" style="border-top: none; border-top-left-radius: 0; border-top-right-radius: 0;">

        <div class="panel-body" style="padding: 10px 15px">
            <div class="tab-content">

                <div class="tab-pane active" id="youtube-tab">
                    <div class="row" >
                        <div class="col-md-6">
                            <div id="yt-subscriber" class="media-chart"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="yt-view" class="media-chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="yt-comment" class="media-chart"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="yt-video" class="media-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane" id="facebook-tab">
                    <div class="row" >
                        <div class="col-md-6" >
                            <div id="fb-likes" class="media-chart"></div>
                        </div>

                        <div class="col-md-6">
                            <div id="fb-shares" class="media-chart"></div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane" id="soundcloud-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="sc-followers" class="media-chart"></div>
                        </div>

                        <div class="col-md-6">
                            <div id="sc-tracks" class="media-chart"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>








{% endblock %}

{% block javascript %}

    {{ parent() }}

    {% javascripts
    'https://www.google.com/jsapi'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <script type="text/javascript">


        google.load('visualization', '1.1', {packages: ['corechart']});


        $( document ).ready(function() {
            updateCharts('youtube');
        });


        $(window).resize(function(){
            activeTab = $('.nav-tabs li.active a').first().attr('data-chart');
            updateCharts(activeTab);
        });

        $('.nav-tabs a').click(function (e) {
            e.preventDefault();

            if(!$(this).parent().hasClass('active')) {
                $(this).tab('show');
                updateCharts($(this).attr('data-chart'));
            }
        });

        function updateCharts(data_request) {
            $.ajax({
                url: '{{ path('get_chart_data') }}',
                type: "post",
                data: data_request,
                dataType: 'json',
                beforeSend: function(){
                },
                success: function(data){
                    startDraw(data_request, data);
                },
                error:function(){
                }
            });
        }



        function startDraw(chart, data) {
            if(chart == "youtube") {
                drawYtSubscriber(data['subscriber']);
                drawYtView(data['view']);
                drawYtComment(data['comment']);
                drawYtVideo(data['video']);
            }
            else if(chart == "facebook") {
                drawFbLikes(data['likes']);
                drawFbShares(data['shares']);
            }
            else if(chart == "soundcloud") {
                drawScFollowers(data['followers']);
                drawScTracks(data['tracks']);
            }
        }




        function drawYtSubscriber(data) {
            var data = google.visualization.arrayToDataTable(data);

            var options = {
                colors: ['orange'],
                legend: 'none',
                pointSize: 5,
                title: 'Subscribers',
                chartArea: {
                    height: "70%",
                    width:"90%"
                },
                hAxis : {
                    slantedText: true,
                    slantedTextAngle: 45
                }
            }

            var chart = new google.visualization.AreaChart(document.getElementById('yt-subscriber'));
            chart.draw(data, options);
        }

        function drawYtView(data) {
            var data = google.visualization.arrayToDataTable(data);

            var options = {
                colors: ['red'],
                legend: 'none',
                pointSize: 5,
                title: 'Total views',
                chartArea: {
                    height: "70%",
                    width:"90%"
                },
                vAxis : {
                    format : 'short'
                },
                hAxis : {
                    slantedText: true,
                    slantedTextAngle: 45
                }
            }

            var chart = new google.visualization.AreaChart(document.getElementById('yt-view'));
            chart.draw(data, options);
        }

        function drawYtComment(data) {
            var data = google.visualization.arrayToDataTable(data);

            var options = {
                colors: ['blue'],
                legend: 'none',
                pointSize: 5,
                title: 'Comments',
                vAxis: {
                    format: "####",
                    minValue: 0,
                    viewWindow: {
                        min: 0
                    }
                },
                chartArea: {
                    height: "70%",
                    width:"90%"
                },
                hAxis : {
                    slantedText: true,
                    slantedTextAngle: 45
                }
            }

            var chart = new google.visualization.AreaChart(document.getElementById('yt-comment'));
            chart.draw(data, options);
        }

        function drawYtVideo(data) {
            var data = google.visualization.arrayToDataTable(data);

            var options = {
                colors: ['green'],
                legend: 'none',
                pointSize: 5,
                title: 'Uploads',
                chartArea: {
                    height: "70%",
                    width:"90%"
                },
                hAxis : {
                    slantedText: true,
                    slantedTextAngle: 45
                }
            }

            var chart = new google.visualization.AreaChart(document.getElementById('yt-video'));
            chart.draw(data, options);
        }




        function drawFbLikes(data) {
            var data = google.visualization.arrayToDataTable(data);
            var options = {
                colors : ['#0000ff'],
                legend: 'none',
                pointSize: 5,
                title: 'Likes',
                chartArea: {
                    height: "70%",
                    width:"90%"
                },
                vAxis : {
                    format : 'short'
                },
                hAxis : {
                    slantedText: true,
                    slantedTextAngle: 45
                }
            }

            var chart = new google.visualization.AreaChart(document.getElementById('fb-likes'));
            chart.draw(data, options);
        }

        function drawFbShares(data) {
            var data = google.visualization.arrayToDataTable(data);
            var options = {
                colors : ['#017989'],
                legend: 'none',
                pointSize: 5,
                title: 'Shares',
                chartArea: {
                    height: "70%",
                    width:"90%"
                },
                vAxis : {
                    format : '#####'
                },
                hAxis : {
                    slantedText: true,
                    slantedTextAngle: 45
                }
            }

            var chart = new google.visualization.ColumnChart(document.getElementById('fb-shares'));
            chart.draw(data, options);
        }



        function drawScFollowers(data) {
            var data = google.visualization.arrayToDataTable(data);
            var options = {
                colors : ['#FFA500'],
                legend: 'none',
                pointSize: 5,
                title: 'Followers',
                chartArea: {
                    height: "70%",
                    width:"90%"
                },
                hAxis : {
                    slantedText: true,
                    slantedTextAngle: 45
                }
            }

            var chart = new google.visualization.AreaChart(document.getElementById('sc-followers'));
            chart.draw(data, options);
        }


        function drawScTracks(data) {
            var data = google.visualization.arrayToDataTable(data);
            var options = {
                colors : ['yellow'],
                legend: 'none',
                pointSize: 5,
                title: 'Tracks',
                chartArea: {
                    height: "70%",
                    width:"90%"
                },
                hAxis : {
                    slantedText: true,
                    slantedTextAngle: 45
                }
            }

            var chart = new google.visualization.AreaChart(document.getElementById('sc-tracks'));
            chart.draw(data, options);
        }


    </script>


{% endblock %}