{% extends "voxAdminBundle::main.html.twig" %}

{% block title %}Newsletters{% endblock %}
 {% block breadcrumb %}
     <li><a href="{{ path("dashboard_index") }}">Home</a></li>
     <li class="active">Newsletters</li>
 {% endblock %}

 {% block top_menu_buttons %}
     <a class="btn btn-default" href="{{ path('newsletter_add') }}"><i class="fa fa-envelope"></i> Write newsletter</a>
 {% endblock %}

{% block content %}

    {#{{ dump(listReleases) }}#}

    <div class="panel panel-default">
        <div class="panel-body no-padding">


            <table class="table table-striped">
                <thead>
                <th>Subject</th>
                <th>Message</th>
                <th>Date Added</th>
                <th>Date Sent</th>
                <th>Delete</th>
                <th>Edit</th>
                <th>Preview</th>
                </thead>
                <tbody>

                {% for newsletter in listNewsletters %}
                    <tr>
                        <td>{{ newsletter.subject }}</td>
                        <td>{{ newsletter.message | slice(0, 50) | raw }}</td>
                        <td>{{ newsletter.dateAdded | date('Y-m-d') }}</td>
                        <td>{% if newsletter.dateSent != null %}{{ newsletter.dateSent | date('Y-m-d') }} {% endif %}</td>
                        <td><a data-toggle=confirm
                               href="{{ path('newsletter_delete', {'id': newsletter.id}) }}">Delete</a></td>
                        <td><a href="{{ path('newsletter_edit', {'id': newsletter.id}) }}">Edit</a></td>
                        <td><a href="{{ path('newsletter_preview', {'id': newsletter.id}) }}">Preview</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>


{% endblock %}

{% block javascript %}

    {{ parent() }}

    {% javascripts
    '@voxAdminBundle/Resources/public/js/jquery-confirm.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $("[data-toggle=confirm]").confirm();
    </script>

{% endblock %}