{% extends "voxAdminBundle::main.html.twig" %}

{% block title %}Add Newsletter{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path("dashboard_index") }}">Home</a></li>
    <li><a href="{{ path("newsletter_index") }}">Newsletters</a></li>
    <li class="active">Edit newsletter</li>
{% endblock %}

{% block content %}

    {#{{ dump(listReleases) }}#}

    <div class="panel panel-default">
        <div class="panel-body">
            {{ form_start(form) }}


            <div class="form-group">
                <label>Subject: </label>
                {{ form_widget(form.subject) }}
            </div>

            <div class="form-group">
                <label>Message: </label>
                {{ form_widget(form.message) }}
            </div>

            {{ form_widget(form.save) }}
            {{ form_end(form) }}
            {{ tinymce_init() }}


        </div>
    </div>


{% endblock %}