{% extends "voxAdminBundle::main.html.twig" %}

{% block title %}Preview{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path("dashboard_index") }}">Home</a></li>
    <li><a href="{{ path("newsletter_index") }}">Newsletters</a></li>
    <li class="active">Preview newsletter</li>
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">

            <div style="margin: 0 auto; width: 600px;">
                <br>

                <p>Subject: {{ subject }}</p>

                <p>{% include 'voxAdminBundle:Mail:template.html.twig' with {'content': content} %}</p>

                <br>

                <a class="btn btn-default" href="{{ path('newsletter_send', {'id' : id}) }}"><i class="fa fa-send"></i>
                    Send Now</a>
                <a class="btn btn-default" href="{{ path('newsletter_index') }}"><i class="fa fa-clock-o"></i> Send
                    Later</a>

            </div>

        </div>
    </div>

{% endblock %}