<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>VP: {% block title %}{% endblock %}</title>

    <meta name="description" content="Vox Populi Records">
    <meta name="keywords" content="berlin, label, record">
    <meta name="google-site-verification" content="KvKRgkLpFJJfsHf6DI-JabNVJhOyo3Uiucm6sCAeBfs" />

    {% stylesheets filter='cssrewrite'
    'http://fonts.googleapis.com/css?family=Exo'
    'http://fonts.googleapis.com/css?family=Slabo+27px'
    'http://fonts.googleapis.com/css?family=Roboto+Condensed'
    'http://fonts.googleapis.com/css?family=PT+Sans+Narrow'
    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'
    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css'
    'bundles/voxfront/js/lightbox/css/lightbox.css'
    'http://fonts.googleapis.com/css?family=Slabo+27px|Oswald'
    '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
    '@voxFrontBundle/Resources/public/css/style.less'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

</head>
<body>


{% block body %}


{% endblock %}

{% block javascript %}
    {% javascripts
    'https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'
    'https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'
    'bundles/voxfront/js/lightbox/js/lightbox.min.js'
    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'
    'bundles/voxadmin/js/analyticstracking.js'
    'https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//piwik.voxpopuli-records.com/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//piwik.voxpopuli-records.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->


{% endblock %}

</body>
</html>
