{% extends "voxFrontBundle::base.html.twig" %}

{% block body %}


<div id="global">

    <div id="header">
        <ul id="media-links" style="float:right">
            <li><a target="_blank" href="https://www.facebook.com/voxpopulirecords"><img src="{{ asset('bundles/voxfront/img/facebook.png') }}" /></a></li>
            <li><a target="_blank" href="https://vimeo.com/voxpopulirecords"><img src="{{ asset('bundles/voxfront/img/vimeo.png') }}" /></a></li>
            <li><a target="_blank" href="https://www.youtube.com/user/v0xpopulirecords"><img src="{{ asset('bundles/voxfront/img/youtube.png') }}" /></a></li>
            <li><a target="_blank" href="http://www.residentadvisor.net/record-label.aspx?id=11521"><img src="{{ asset('bundles/voxfront/img/RA.png') }}" /></a></li>
            <li><a target="_blank" href="https://soundcloud.com/voxpopuli-records"><img src="{{ asset('bundles/voxfront/img/soundcloud.png') }}" /></a></li>
        </ul>
        <img height=180 src="{{ asset('bundles/voxfront/img/vox_logo.png') }}" />
    </div>

    <div id="navigation">

        <ul class="nav-menu">
            <li><a {% if app.request.get('_route') starts with 'front_index' %} class="active"{% endif %} href="{{ path('front_index') }}">Home</a></li>
            <li><a {% if app.request.get('_route') starts with 'front_release' %} class="active"{% endif %} href="{{ path('front_release_index') }}">Releases</a></li>
            <li><a {% if app.request.get('_route') starts with 'front_artist' %} class="active"{% endif %} href="{{ path('front_artist_index') }}">Artists</a></li>
            <li><a {% if app.request.get('_route') starts with 'front_about' %} class="active"{% endif %} href="{{ path('front_about') }}">About</a></li>
            <li><a {% if app.request.get('_route') starts with 'front_contact' %} class="active"{% endif %} href="{{ path('front_contact') }}">Contact</a></li>
        </ul>

    </div>

    <div id="content">
        {% block content_title %}{% endblock %}

        {% for message in app.session.flashbag.get('notice') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            {{ message }}
        </div>
        {% endfor %}

        {% for message in app.session.flashbag.get('warning') %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                {{ message }}
            </div>
        {% endfor %}


        {% block content %}{% endblock %}
    </div>


    <div id="footer">
        © 2016 Vox Populi Records
    </div>
</div>

{% endblock %}