html, body{
    height:100%;
    width: 100%;
}

#global {
    width:100%;
    height:100%;
}


ul.menu {
  margin: 0;
  padding: 0;
}

.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}


.menu a {
  text-decoration: none;
  padding: 15px;
}


.voxadmin {
    font-size: 18px;
    color:white;
    text-decoration: none;
}

#content {
    background: white;
  padding: 10px 20px;
}

.content_padding {

}

h1 {
    font-size: 22px;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 40px;
}



.tinymce
{
    height: 300px;
}

#login {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.top_menu {

}

.top_menu_buttons {
  padding: 10px 20px;
}

.navbar {
  margin-bottom: 0;
}

.no-padding {
  padding: 0;
}

.table
{
  padding: 0;
  margin: 0;
}


.media-chart {
  height: 300px;
}

