{% extends "voxAdminBundle:Admin:main.html.twig" %}

{% block title %}New Release{% endblock %}
{% block content_title %}<h1>Dashboard</h1>{% endblock %}

{% block content %}



    Notre plateforme est un peu vide pour le moment, mais cela viendra !

{% endblock %}