{% extends "voxAdminBundle::main.html.twig" %}

{% block title %}Traffic{% endblock %}
 {% block breadcrumb %}
     <li><a href="{{ path("dashboard_index") }}">Home</a></li>
     <li class="active">Traffic</li>
 {% endblock %}

{% block content %}


    <div class="row">

        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Unique visitors
                </div>
                <div class="panel-body">
                    <div id="30day-report" style="height: 400px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Geolocation
                </div>
                <div class="panel-body">
                    <div id="countries" style="height: 400px;"></div>
                </div>
            </div>
        </div>

    </div>

<div class="panel panel-default">
    <div class="panel-heading">
        Today's report
    </div>
    <div class="panel-body no-padding">
    <table class="table table-striped">
        <thead>
        <th>Ip</th>
        <th>Country</th>
        <th>HTTP user agent</th>
        <th>Last activity</th>
        <th>Details</th>
        </thead>
        <tbody>

        {% for visitor in visitorsToday %}
            <tr>
                <td>{{ visitor.ip }}</td>
                <td>{{ visitor.country }}</td>
                <td>{{ visitor.httpUserAgent }}</td>
                <td>{{ visitor.lastActivity | date("m/d/Y H:i:s")}}</td>
                <td><a href="{{ path('visitor_details', {'id': visitor.id}) }}">View</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}





{% block javascript %}

    {{ parent() }}

    {% javascripts
    'https://www.google.com/jsapi'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <script type="text/javascript">
        google.load('visualization', '1.1', {packages: ['corechart']});
        google.setOnLoadCallback(draw30daysChart);
        google.setOnLoadCallback(drawCountriesChart);

        $(window).resize(function(){
            draw30daysChart();
            drawCountriesChart();
        });


            function draw30daysChart() {
                var data = google.visualization.arrayToDataTable({{ last30days | raw }});

                var options = {
                    pointSize: 5,
                    legend : {
                        position : 'none'
                    },
                    hAxis: {
                        title: '',
                        slantedText: true,
                        slantedTextAngle: 45
                    },
                    vAxis : {
                        format : '####'
                    },
                    chartArea: {
                        top: 10,
                        height: "80%",
                        width:"90%"
                    }
                };

                var chart = new google.visualization.AreaChart(document.getElementById('30day-report'));
                chart.draw(data, options);

            }


            function drawCountriesChart() {
                var data = google.visualization.arrayToDataTable({{ countries | raw }});

                var options = {
                    legend : { position : 'none'}
                }

                var chart = new google.visualization.GeoChart(document.getElementById('countries'));
                chart.draw(data, options);

            }


    </script>


{% endblock %}