{% extends "voxAdminBundle::main.html.twig" %}

{% block title %}Visitor info{% endblock %}
 {% block breadcrumb %}
     <li><a href="{{ path("dashboard_index") }}">Home</a></li>
     <li><a href="{{ path("traffic_index") }}">Traffic</a></li>
     <li class="active">Visitor info</li>
 {% endblock %}

{% block content %}



    <table class="table table-bordered">

        <tbody>
            <tr>
                <th>Ip</th>
                <td>{{ visitorDetails.ip }}</td>
            </tr>
            <tr>
                <th>Last activity</th>
                <td>{{ visitorDetails.lastActivity | date("m/d/Y")}}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ visitorDetails.country}}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ visitorDetails.city}}</td>
            </tr>
            <tr>
                <th>Query string</th>
                <td>{{ visitorDetails.queryString}}</td>
            </tr>
            <tr>
                <th>HTTP referer</th>
                <td>{{ visitorDetails.httpReferer}}</td>
            </tr>
            <tr>
                <th>HTTP user agent</th>
                <td>{{ visitorDetails.httpUserAgent}}</td>
            </tr>

        </tbody>
    </table>


{% endblock %}





{% block javascript %}

    {{ parent() }}





{% endblock %}