{% extends "voxAdminBundle::base.html.twig" %}

{% block body %}

    {% for key, message in app.session.flashbag.all() %}
    <div class="alert alert-{{ key }}">
        {{ message|trans({}, 'FOSUserBundle') }}
    </div>
{% endfor %}
    {% if error %}
    <div style="color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}



    {#<div class="form-group" id="login_form">#}
    <div style="margin-top: 10%;" class="col-md-4 col-md-offset-4">
        <form action="{{ path("fos_user_security_check") }}" method="post">

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />


            <div class="form-group">
                <label for="username">Login</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" name="_password" required="required">
            </div>

            <div class="checkbox">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"> Remember me
                </label>
            </div>

            <button type="submit" id="_submit" name="_submit" class="btn btn-default">Submit</button>
        </form>
    </div>



{% endblock %}