{% extends "voxAdminBundle::main.html.twig" %}

{% block title %}Dashboard{% endblock %}
 {% block breadcrumb %}
     <li class="active">Home</li>
 {% endblock %}

 {% block top_menu_buttons %}


             <i class="glyphicon glyphicon-user"></i> Online: {{ visitorsOnline }} /
             <i class="fa fa-users"></i> Online today: {{ visitorsToday }}


     {#<span class="float:right;" >
         <i class="fa fa-facebook"></i> Likes: {{ fb['likes'] }} / Shares: {{ fb['shares'] }} |
         <i class="fa fa-soundcloud"></i> Followers: {{ sc['followers'] }} / Tracks: {{ sc['tracks'] }} |
         <i class="fa fa-youtube-play"></i> Subscribers: {{ yt['subscriberCount'] }} / Total
         views: {{ yt['viewCount'] }} / Comments: {{ yt['commentCount'] }} / Uploads: {{ yt['videoCount'] }}
    </span>#}



 {% endblock %}

{% block content %}

    
    




    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Logs:</b> {{ "now"|date("D, j M Y") }}
        </div>
        <div class="panel-body">
            <p>
                {% for log in logs %}
                    {{ log }} <br/>
                {% endfor %}
            </p>
        </div>
    </div>



{% endblock %}