{% extends "voxAdminBundle::main.html.twig" %}

{% block title %}Artists{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path("dashboard_index") }}">Home</a></li>
    <li class="active">Artists</li>
{% endblock %}

 {% block top_menu_buttons %}
     <a class="btn btn-default" href="{{ path('artist_add') }}"><i class="fa fa-plus"></i> Add Artist</a>
 {% endblock %}


{% block content %}



    <div class="panel panel-default">
        <div class="panel-body no-padding">

            <table class="table table-striped">
                <thead>
                <th>Pic</th>
                <th>Name</th>
                <th>Bio</th>
                <th>Date Added</th>
                <th>Delete</th>
                <th>Edit</th>
                </thead>
                <tbody>

                {% for artist in listArtists %}
                    <tr>
                        <td>
                            {% if artist.image.webPath is defined %}<img height="50" width="50"
                                                                         src="{{ asset(artist.image.webPath) }}"
                                                                         alt="{{ artist.name }}"/>{% endif %}
                        </td>
                        <td>{{ artist.name }}</td>
                        <td>{{ artist.bio }}</td>
                        <td>{{ artist.dateAdded | date('Y-m-d') }}</td>
                        <td><a data-toggle=confirm href="{{ path('artist_delete', {'id': artist.id}) }}">Delete</a></td>
                        <td><a href="{{ path('artist_edit', {'id': artist.id}) }}">Edit</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>


{% endblock %}


{% block javascript %}

    {{ parent() }}

    {% javascripts
    '@voxAdminBundle/Resources/public/js/jquery-confirm.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $("[data-toggle=confirm]").confirm();
    </script>

{% endblock %}