{% extends "voxAdminBundle::main.html.twig" %}

{% block title %}New Artist{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path("dashboard_index") }}">Home</a></li>
    <li><a href="{{ path("artist_index") }}">Artists</a></li>
    <li class="active">Add artist</li>
{% endblock %}


{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">

            {{ form_start(form) }}

            <div class="form-group">
                <label>Name: </label>
                {{ form_widget(form.name) }}
            </div>
            <div class="form-group">
                <label>Bio: </label>
                {{ form_widget(form.bio) }}
            </div>

            <img height="100" width="100" id="img" src="#" alt="" style="display: none;"/>

            <div class="form-group">
                <label>
                    {{ form_widget(form.image) }}
                </label>
            </div>

            {{ form_widget(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascript %}

    {{ parent() }}

    {% javascripts
    '@voxAdminBundle/Resources/public/js/file-loader.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}