{% extends "voxFrontBundle::main.html.twig" %}

{% block title %}About{% endblock %}


{% block content %}

<div class="front-block">
    <p>
    Vox Populi is an independent record label established in 2014 and based essentially, but not exclusively, in Berlin, Germany. We will release tracks from artists across the globe. Our mission is to explore electronic music without the restricted boundaries of genre. Founded by Frederic Scharf, a swiss-born Anthropologist whose intrigue in music was brought on by his recognition that music is the universal language. Vox Populi exists to deliver just that, the ‘voice of the people’, sharing our material with a broad audience and supporting the creativity of our talent. We believe in promoting our artists visions and helping to inspire new innovative ways to create electronic music. Our goal is to travel near and far to find hidden treasures and people who share our vision around the world.
    </p>
</div>

{% endblock %}