<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Vox Admin{% endblock %}</title>


    {% stylesheets filter='cssrewrite'
    'https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
    'https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css'
    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'
    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css'
    '@voxAdminBundle/Resources/public/css/style.less'
    '@voxAdminBundle/Resources/public/css/mobile.less'
    'bundles/voxadmin/css/bs-table/bootstrap-table-filter.css'
    'bundles/voxadmin/css/bs-table/bootstrap-table.css'
    %}
         <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

</head>
<body>


{% block body %}


{% endblock %}

{% block javascript %}
    {% javascripts
    'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'
    'https://code.jquery.com/ui/1.11.4/jquery-ui.min.js'
    '@voxAdminBundle/Resources/public/js/functions.js'
    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'
    'https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js'
    'bundles/voxadmin/js/bs-table/bootstrap-table.js'
    'bundles/voxadmin/js/bs-table/bootstrap-table-filter-assets.js'
    'bundles/voxadmin/js/bs-table/bootstrap-table-filter.js'
    'bundles/voxadmin/js/bs-table/bs-table.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

</body>
</html>