<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Vox Admin{% endblock %}</title>


    {% stylesheets filter='cssrewrite'
    'bundles/voxadmin/css/bootstrap.min.css'
    'bundles/voxadmin/css/bootstrap-theme.min.css'
    '@voxAdminBundle/Resources/public/css/style.css'
    'bundles/voxadmin/css/font-awesome.min.css'%}
         <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

</head>
<body>


{% block body %}


{% endblock %}

{% block javascript %}
    {% javascripts
    'bundles/voxadmin/js/jquery.js'
    '@voxAdminBundle/Resources/public/js/functions.js'
    'bundles/voxadmin/js/bootstrap.min.js'
    'bundles/voxadmin/js/highcharts.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

</body>
</html>