{% extends "voxAdminBundle::base.html.twig" %}

{% block body %}


    <div id="global">

        <nav class="navbar navbar-default">
            <div class="container-fluid">


                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">VoxAdmin</a>
                    </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li {% if app.request.get('_route') ends with 'dashboard_index' %} class="active"{% endif %}><a href="{{ path('dashboard_index') }}"><i class="fa fa-dashboard"></i> Dashboard</a>
                        </li>
                        {#News#}
                        <li {% if app.request.get('_route') starts with 'news_' %} class="active"{% endif %}>
                            <a href="{{ path('news_index') }}"><i class="fa fa-pencil-square-o"></i> News</a>
                        </li>

                        {#Artists#}
                        <li {% if app.request.get('_route') starts with 'artist' %} class="active"{% endif %}>
                            <a href="{{ path('artist_index') }}"><i class="fa fa-users"></i> Artists</a>
                        </li>

                        {#Release#}
                        <li {% if app.request.get('_route') starts with 'release' %} class="active"{% endif %}>
                            <a href="{{ path('release_index') }}"><i class="glyphicon glyphicon-play-circle"></i> Releases</a>
                        </li>

                        {#Newsletter#}
                        <li {% if app.request.get('_route') starts with 'newsletter' %} class="active"{% endif %}>
                            <a href="{{ path('newsletter_index') }}"><i class="fa fa-envelope-o"></i> Newsletters</a>
                        </li>

                        {#Subscribers#}
                        <li {% if app.request.get('_route') starts with 'subscriber' %} class="active"{% endif %}>
                            <a href="{{ path('subscriber_index') }}"><i class="fa fa-rss"></i> Subscribers</a>
                        </li>


                        <li {% if app.request.get('_route') starts with 'media' %} class="active"{% endif %}><a href="{{ path('media_index') }}"><i class="fa fa-share-alt-square"></i> Social Media</a></li>
                        <li {% if app.request.get('_route') starts with 'traffic' %} class="active"{% endif %}><a href="{{ path('traffic_index') }}"><i class="fa fa-bar-chart"></i> Traffic</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('fos_user_security_logout') }}" class="navbar-link"><i class="fa fa-power-off"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="top_menu">
            <ol class="breadcrumb">{% block breadcrumb %}{% endblock %}</ol>
            <div class="top_menu_buttons">{% block top_menu_buttons %}{% endblock %}</div>

        </div>



        <div id="content">
            {% block content_title %}{% endblock %}
            {% for message in app.session.flashbag.get('notice') %}
                <div style="margin: 0 20px;" class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-check"></i>

                    {{ message }}
                </div>
            {% endfor %}


            {% block content %}{% endblock %}


        </div>

    </div>



{% endblock %}