{% extends "voxFrontBundle::main.html.twig" %}

{% block title %}Artists{% endblock %}


{% block content %}

    {% for artist in listArtists %}

        <div class="front-block">
            <div class="row">
                <div class="col-md-3">
                    {% if artist.image.webPath is defined %}<img class="release-img" src="{{ asset(artist.image.webPath) }}" alt="{{ artist.name }}"/>{% endif %}
                </div>
                <div class="col-md-9">
                    <h2>{{ artist.name }}</h2>

                    <p>{{ artist.bio | convert_url| raw | nl2br }}</p>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}